%h1 
  Pets
  = link_to 'New Pet', new_pet_path, :class => "btn btn-success pull-right"

- @pets.each_slice(3) do |pets|
  .row
    - pets.each do |pet|
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              = link_to pet.name, pet
              - if pet.user_verified?(current_user)
                %span.label.label-warning.pull-right Your Pet!
          .panel-body
            = link_to image_tag(pet.image.medium.url, :class => "img-responsive"), pet
